footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fondo{
    width: 100%;
    height: 5rem;
    background-color: rgb(103, 47, 156);
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    font-size: 2rem;
    font-family: fantasy;
    color: white;
}
section{
    width: 100%;
    height: 35rem;
    background-color: rgb(145, 187, 224);
    color: white;
    font-family: fantasy;
    font-size: 20px;
}
p{
    padding: 2.5rem;
}